@font-face {
  font-family: "ArialIs";
  src: url("./static/arial.ttf");
}

@font-face {
  font-family: "headline";
  src: url("./static/Signwood-vnvD7.ttf");
}

html,
body {
  background-color: rgb(50, 52, 55);
  margin: 0;
  padding: 0;
  width: 100%;
}

.upper-banner {
  display: flex;
  justify-content: center;
  width: 101%;
  height: 150px;
  background-color: rgb(205, 203, 200);
}

#main_logo {
  filter: invert(0%);
  margin-top: 25px;
  margin-left: 200px;
  width: 10%;
  height: auto;
}

.hl_logo {
  width: 50%;
  height: auto;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

#headline {
  margin-top: 15px;
  margin-left: 20px;
  font-size: xx-large;
  font-weight: 900;
  font-family: "headline";
  color: black;
}

.middle {
  display: block;
  margin-left: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#pagination {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

img {
  filter: invert(100%);
  margin-top: 3px;
  width: var(--searchIconDim);
  height: var(--searchIconDim);
}

#next,
#prev {
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
}

#next:hover,
#prev:hover {
  background-color: bisque;
  filter: opacity(75px);
  border-radius: 50px;
}

#next:disabled,
#prev:disabled {
  background-color: transparent;
  filter: opacity(50%);
  cursor: auto !important;
}

#count {
  width: fit-content;
  background-color: lightblue;
  border: none;
}
p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.taskContainer {
  display: flex;
  justify-content: center;
  border-style: var(--contentBorderStyle);
  border-color: var(--contentBorderColor);
  border-radius: var(--contentBorderRadius);
  width: fit-content;
  height: fit-content;
  background-color: var(--contentColor);
  font-family: "ArialIs";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 171px;
  padding-left: 25px;
  margin-top: 30px;
}

.tick {
  margin-top: 35px;
  padding-left: 40px;
  padding-right: 40px;
}

.tickBtn {
  cursor: pointer;
  transform: scale(2);
}

.task {
  padding-right: 8%;
}

.title {
  font-weight: 900;
  font-size: large;
  word-wrap: break-word;
  width: 500px;
}

.time {
  font-weight: 300 !important;
}

.desc {
  filter: opacity(80%);
  width: 500px;
  word-wrap: break-word;
}

.title,
.time,
.desc {
  color: white;
}

.seeMore {
  background-color: lightgray;
  height: 12px;
  border-radius: 20px;
  border: none;
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;
}

.update {
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.updateBtn {
  font-family: "ArialIs";
  transform: scale(1.2);
  background-color: var(--contentBorderColor);
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.delete {
  margin: auto;
  padding-left: 30px;
}

.deleteIcon {
  width: var(--deleteIconDim);
  height: var(--deleteIconDim);
  pointer-events: none;
  filter: none;
}

.deleteBtn {
  width: 90px;
  background-color: rgb(255, 61, 61);
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 5px;
  cursor: pointer;
}

.action {
  margin-top: 50px;
  border-style: var(--contentBorderStyle);
  border-color: var(--contentBorderColor);
  border-radius: var(--contentBorderRadius);
  width: 1078px;
  height: 110px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#content {
  position: relative;
}

#callFormBtn {
  border: none;
  height: var(--actionDivHeight);
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  font-size: xx-large;
  font-family: "ArialIs";
  font-weight: 400;
  color: var(--contentColor);
  filter: opacity(50%);
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
}

#taskForm {
  width: 500px;
  height: 100px;
  color: var(--contentBorderColor);
  font-family: "ArialIs";
  font-weight: 400;
  font-size: x-large;
}

.updateForm {
  width: 500px;
  height: 100px;
  color: var(--contentBorderColor);
  background-color: var(--contentColor);
  font-family: "ArialIs";
  font-weight: 400;
  font-size: x-large;
  padding-left: 150px;
}

.formTitle,
.formTime,
.formDesc {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

#newDesc {
  margin-top: 8px;
}

.timeInp {
  font-family: "ArialIs";
}

.descInp {
  width: auto;
  height: 40px;
}

.titleInp,
.descInp,
.timeInp {
  background-color: lightblue;
  width: 200px;
}

#addTaskBtn {
  font-family: "ArialIs";
  transform: scale(1.2);
  background-color: var(--contentBorderColor);
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 40px;
  cursor: auto;
}

.cancel {
  font-family: "ArialIs";
  transform: scale(1.2);
  background-color: var(--contentBorderColor);
  border: none;
  height: fit-content;
  border-radius: 20px;
  margin: 37.5px 50px 0px 0px;
  padding: 10px;
}

.updateTaskBtn {
  font-family: "ArialIs";
  transform: scale(1.2);
  background-color: var(--contentBorderColor);
  border: none;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  margin: 37.5px 30px 0px 30px;
  cursor: pointer;
}

:root {
  --searchIconDim: 30px;
  --deleteIconDim: 25%;
  --contentBorderColor: white;
  --contentColor: #4b6c8d;
  --contentBorderRadius: 20px;
  --contentBorderStyle: dashed;
  --marginLeft: -10%;
  --actionDivWidth: 1100px;
  --actionDivHeight: 110px;
  --elementBorder: 5px solid black;
}
